@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.header {
  background: #EEEFF1;
  height: 700px;
}
@media screen and (max-width: 770px) {
  .header {
    height: 750px;
  }
}
@media screen and (max-width: 425px) {
  .header {
    height: 1300px;
  }
}
.header__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 131px;
  margin-top: 162px;
}
@media screen and (max-width: 425px) {
  .header__inner {
    display: block;
  }
}
.header__inner p {
  color: #727272;
  font-family: "Roboto";
  font-size: 16px;
  display: block;
  line-height: 26px;
  max-width: 570px;
  margin-top: 60px;
  margin-bottom: 60px;
}
.header__inner h1 {
  color: #000;
  font-family: "Roboto";
  font-size: 45px;
}
.header__inner button {
  background: #34547a;
  color: #fff;
  font-size: 16px;
  font-family: "Roboto";
  width: 255px;
  height: 65px;
  cursor: pointer;
}
.header__inner button button:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}
.header__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 425px) {
  .header__info {
    display: block;
  }
}
.header__info nav {
  display: flex;
  gap: 42px;
  margin-top: 79px;
}
@media screen and (max-width: 425px) {
  .header__info nav {
    flex-direction: column;
  }
}
.header__info .img {
  margin-top: 50px;
  cursor: pointer;
}
.header__info .link {
  font-family: "Roboto";
  color: #000;
  font-size: 16px;
  text-decoration: none;
}
.header__info .link:hover {
  color: #34547A;
}

@media screen and (max-width: 320px) {
  .inner__info img {
    width: 100%;
  }
}

.container {
  margin: 0 auto;
  max-width: 1150px;
}

body {
  margin: 0;
}

.aboutme {
  height: 366px;
  margin-top: 119px;
}
.aboutme__content {
  text-align: center;
}
.aboutme h2 {
  font-family: "Roboto";
  font-size: 32px;
}
.aboutme p {
  font-family: "Roboto";
  color: #727272;
  max-width: 540px;
  margin: 0 auto;
  line-height: 26px;
}

.blue__info {
  display: flex;
  align-items: center;
  height: 250px;
  background: #34547A;
  justify-content: space-evenly;
}
@media screen and (max-width: 320px) {
  .blue__info {
    height: 350px;
    flex-wrap: wrap;
  }
}
.blue__box {
  display: flex;
  margin: 0;
  left: 1000px;
  gap: 25px;
}
@media screen and (max-width: 425px) {
  .blue__box {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 770px) {
  .blue__box {
    width: 128px;
    gap: 10px;
  }
}
.blue .blue__inner div {
  color: #FFFFFF;
  font-family: "Roboto";
}
@media screen and (max-width: 320px) {
  .blue .blue__inner {
    flex-wrap: wrap;
  }
}

.fotoshop {
  margin-top: 100px;
}
.fotoshop__content {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 425px) {
  .fotoshop__content {
    flex-wrap: wrap;
  }
}
.fotoshop__info .g {
  width: 450px;
  height: 4px;
  background: #c4c4c4;
  margin-bottom: 30px;
}
@media screen and (max-width: 320px) {
  .fotoshop__info .g {
    width: 250px;
  }
}
@media screen and (max-width: 770px) {
  .fotoshop__info .g {
    width: 350px;
  }
}
.fotoshop__info .b {
  width: 350px;
  height: 4px;
  background: #34547a;
  margin-bottom: 10px;
}
@media screen and (max-width: 320px) {
  .fotoshop__info .b {
    width: 100px;
  }
}
@media screen and (max-width: 770px) {
  .fotoshop__info .b {
    width: 250px;
  }
}
.fotoshop__info h2 {
  font-family: "Roboto";
  font-size: 32px;
}
.fotoshop__info p {
  font-family: "Roboto";
  size-adjust: 16px;
  color: #727272;
  margin-top: 50px;
}
.fotoshop .img {
  max-width: 555px;
  height: 450px;
}
@media screen and (max-width: 770px) {
  .fotoshop .img {
    width: 100%;
    height: 350px;
  }
}

.work {
  background: #eeeff1;
  height: 1004px;
  margin-top: 100px;
}
@media screen and (max-width: 425px) {
  .work {
    height: 600px;
  }
}
.work__content {
  text-align: center;
}
.work h2 {
  font-family: "Roboto";
  font-size: 32px;
  margin-top: 100px;
}
.work p {
  color: #727272;
  font-family: "Roboto";
  max-width: 540px;
  line-height: 26px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 57px;
}
.work .video {
  width: 1110px;
  height: 600px;
}
@media screen and (max-width: 425px) {
  .work .video {
    width: 100%;
    height: 300px;
  }
}
@media screen and (max-width: 1024px) {
  .work .video {
    width: 100%;
  }
}

.new {
  margin-top: 29px;
}
.new__content img {
  width: 100%;
}

.micro {
  margin-top: 75px;
  margin-bottom: 100px;
}
.micro__content {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 425px) {
  .micro__content {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 770px) {
  .micro__content img {
    width: 192px;
  }
}

.question {
  background: #eeeff1;
}
.question__container {
  width: 540px;
}
.question__info {
  text-align: center;
}
.question__info h2 {
  font-family: "Roboto";
  font-size: 36px;
}
.question__info p {
  font-family: "Roboto";
  max-width: 540px;
  height: 64px;
  color: #727272;
  margin: 0 auto;
}
.question__inner {
  text-align: center;
  gap: 30px;
}
.question__inner .sos {
  width: 540px;
  height: 175px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.question__inner .pop {
  width: 255px;
  height: 50px;
  font-family: "Roboto";
  font-size: 14px;
  gap: 30px;
  margin-top: 65px;
}
.question__inner button {
  background: #34547a;
  color: #fff;
  font-size: 16px;
  font-family: "Roboto";
  width: 255px;
  height: 65px;
  margin-top: 50px;
  margin-bottom: 100px;
  cursor: pointer;
}
.question__inner button button:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}/*# sourceMappingURL=index.css.map */