.blue {  
    &__info {
        display: flex;
        align-items: center;
        height: 250px;
        background: #34547A;
        justify-content: space-evenly;
        @media screen and (max-width:320px) {
            height: 350px;   
            flex-wrap: wrap;
        }
    }
    
    
    &__box {
        display: flex;
        margin: 0;
        left: 1000px;
        gap: 25px;
        
        @media screen and (max-width:425px) {
            flex-wrap: wrap;
        }
        @media screen and (max-width:770px) {
            width: 128px;
            gap: 10px;
        }
    }
    .blue__inner {

        div {
            color: #FFFFFF;
            font-family: "Roboto";
           
        }
        @media screen and (max-width:320px) {
           flex-wrap: wrap;
        }
    }
    
}
