.blue {


    &__info {
        display: flex;
        align-items: center;
        height: 250px;
        background: #34547A;
        justify-content: space-evenly;
    }

    div {
        color: #fff;
        font-family: "Roboto";
    }

    &__box{
       display: flex;
        margin: 0;
        left: 1000px;
        gap: 25px;
    }

}
