.work {
    background: #eeeff1;
    height: 700px;
   
    &__content{
        
        margin-top: 100px;
    }
   
    h2 {
        font-family: "Roboto";
        font-size: 32px;
        text-align: center;
    }
    p {
        color: #727272;
        font-family: "Roboto";
        max-width: 540px;
        line-height: 26px;
        text-align: center;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 59px;
    }

    .video{
       width: 1110px;
       height: 600px;
    }
}

